# Virtual Environment
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
media/
staticfiles/
*.log

# Environment variables
.env

# OS
.DS_Store
Thumbs.db

# Compiled migrations
**/migrations/*.pyc

# VSCode
.vscode/
